body {
    background-color: #F2FFFC;
    /* além do nome da fonte também colocamos o tipo da fonte */
    font-family: 'Crimson Text', 'Times New Roman', serif; 
    font-size: 120%;
    line-height: 1.5; /* espaçamento entre de linhas de texto */
}

.titulo-principal {
    background-color: #851944;
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    text-align: center;
    color: #FFFFFF;
    padding: 25px;
    border-bottom: 10px solid #000; 
    font-size: 60px;
    text-transform: uppercase;
}
 
main a {
    color: #851944;
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

p {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* blockquote, footer {
    espaçamento interno do conteúdo com relação a suas bordas 
    padding: 20px; 
} */

.recomendacao {
    margin: 20px 40px 20px 40px;
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 250px; /* largura */
    padding: 20px;

    /* mudando a forma como o navegador mede a largura dos elementos 
       Por padrão, o navegador mede a largura ignorando padding e bordas (levando em consideração o conteúdo)
       dizemos ao navegador que ele deve considerar padding e bordas nesse cálculo. 
       Então o elemento diminui pois agora os 250 pixels que definimos de largura incluem 
       os paddings e bordas do elemento.
       
       ** controla apenas como a largura e a altura de um elemento deve ser calculada.
    */
    box-sizing: border-box; 
    border-bottom-color: #333;
    border-right-color: #333;     
}

aside a {
    color: inherit;
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

nav a {
    color: #F2FFFC;
}

.conteudo {
    width: 720px;
    /* o proprio navegador redistribui o espaço que sobra a direita e a esquerda da div deixando-a no centro 
       margin-left: auto; 
       margin-right: auto;
       ou
       margin: 0 auto;
    */
    margin: auto;  /* margin controla o espaço entre os elementos */
    padding-top: 30px;
    padding-bottom: 30px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}
 
.icones-redes-sociais li {
    display: inline-block;
}

#rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
}

.leia-mais {
    font-size: 120%;
    background-color: #E6E7E8;
    text-align: center;
    display: block; /* tag A já por default já é inline */
    margin: 16px;
    padding: 8px;
}

.subtitulo {
    text-transform: uppercase;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    font-size: 0;  /* Realiza o image replacement visando a semantica do HTML */
}

.icone-github {
    background-image: url(../img/github.png)
}

.icone-twitter {
    background-image: url(../img/twitter.png)
}

.icone-linkein {
    background-image: url(../img/linkedin.png)
}