body {
    background-color: #F2FFFC;
    font-family: 'Crimson Text', 'Times New Roman', serif; /* beyond the name of the font we put the type of the font */
    font-size: 120%;
}

main h1 {
    background-color: #851944;
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    text-align: center;
    color: #FFFFFF;
}
 
main a {
    color: #851944;
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

blockquote {
    background-color: #D9E5E3;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
}

aside a {
    color: inherit;
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

nav a {
    color: #F2FFFC;
}

footer {
    background-color: #000;
    color: #F2FFFC;
}