body {
    background-color: #F2FFFC;
    /* além do nome da fonte também colocamos o tipo da fonte */
    font-family: 'Crimson Text', 'Times New Roman', serif; 
    font-size: 120%;
    line-height: 1.5; /* espaçamento entre de linhas de texto */
}

main {
    float: left;
    width: 85%;
    padding-bottom: 80px;
}

main a {
    color: #851944;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

p {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    width: 720px;
    /* o proprio navegador redistribui o espaço que sobra a direita e a esquerda da div deixando-a no centro 
       margin-left: auto; 
       margin-right: auto;
       ou
       margin: 0 auto;
    */
    margin: auto;  /* margin controla o espaço entre os elementos */
    padding-top: 30px;
    padding-bottom: 30px;
}

.titulo-principal {
    background-color: #851944;
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    text-align: center;
    color: #FFFFFF;
    padding: 25px;
    border-bottom: 10px solid #000; 
    font-size: 60px;
    text-transform: uppercase;
}

.navegacao-site a {
    color: inherit;
    font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

.navegacao-site h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

nav a {
    color: #F2FFFC;
}
 
.icones-redes-sociais li {
    display: inline-block;
}

#rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    float: right;
    padding: 10px;
    width: 15%;
    position: absolute;
    top: 310px;
    right: 0;
}

.subtitulo {
    font-weight: bold;
    text-transform: uppercase;
    /* Como não queremos floats de nenhum lado dos subtítulos, usamos o valor both */
    clear: both; 
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    font-size: 0;  /* Realiza o image replacement visando a semantica do HTML */
}

.icone-github {
    background-image: url(../img/icones-redesociais/github.png)
}

.icone-twitter {
    background-image: url(../img/icones-redesociais/twitter.png)
}

.icone-linkein {
    background-image: url(../img/icones-redesociais/linkedin.png)
}

.imagem-autor {
    /* position relative -> muda a posição do elemento de acordo com a posição original dele */
    /* Quando falamos de posicionar elementos na página independentemente do resto do conteúdo, 
       estamos falando de usar o valor absolute da propriedade position. Com ele, podemos colocar 
       um elemento onde quisermos na página. */
    position: absolute;
    top: 0;
    right: 0px;
    float: right;
}

.imagem-autor, .navegacao-site {
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

/* blockquote, footer {
    espaçamento interno do conteúdo com relação a suas bordas 
    padding: 20px; 
} */